<button (click)="toggleAddHeroFormVisibility()" *ngIf="!addHeroFormEnabled"
  class="add-hero-button">
  Add Hero
</button>

<div class="add-hero-form" *ngIf="addHeroFormEnabled">
  <form  #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="add-hero__name-holder">
      <label for="add-hero-name">Hero name:</label>
      <input type="text" class="add-hero__name-input" id="add-hero-name"
        name = "add-hero-name" [(ngModel)]="model.name" required>
    </div>

    <div class="add-hero__color-holder">
      <label for="add-hero-color">Color</label>
      <select class="add-hero__color-dropdown" id="add-hero-color"
        name="add-hero-color" [(ngModel)]="model.color" required>
        <option *ngFor="let col of colors" [value]="col">{{col}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success"
      [disabled]="!heroForm.form.valid">
      Submit
    </button>
  </form>
</div>
