.add-hero__name-holder {
  display: block;
}

.add-hero__name-input {
  display: block;
  margin-top: 2px;
  margin-bottom: 6px;
  padding-left: 4px;
}

.add-hero__color-holder {
  display: block;
}

.add-hero__color-dropdown {
  display: block;
  min-width: 120px;
  font: normal 14px/28px arial;
  margin-top: 2px;
  margin-bottom: 10px;
  padding-left: 4px;
}
