<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}" [appHeroColor]="hero.color">
      <span class="badge">{{hero.id}}</span>
      <span class="hero-name">{{hero.name}}</span>

    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>

<add-hero></add-hero>
